body {
  background-color: #21262d;
  height: 100vh;
  width: 100vw;

  /*img gif astronaut background*/
  background-image: url(/src/imagens/astronauta.gif);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
}

/*Styles Business Card*/

.card_container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: hsla(100, 5%, 15%, 0.75);
  width: 370px;
  height: auto;
  border: 5px solid #bef;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
}

.card_perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  color: azure;
}

.card_perfil h2 {
  font-size: 12px;
  color: #00ccff;
}

.card_perfil img {
  width: 50%;
  border-radius: 100px;
  border: 4px solid #bef;
}

.card_content {
  font-family: "Baloo 2", cursive;
}

/*Styles Tabs*/

.tabs {
  display: flex;
  height: 80px;
}

.tabs img {
  height: 60px;
  width: 60px;
  border: none;
}

.tabs :hover {
  background-color: #414141;
}

.tab1 {
  display: flex;
  justify-content: center;
  background-color: #292929;
  width: 50%;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  border: 3px solid #414141;
  border-radius: 5px;
}

.tab2 {
  display: flex;
  justify-content: center;
  background-color: #292929;
  width: 50%;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  border: 3px solid #414141;
  border-radius: 5px;
}

.tab_hide {
  display: none;
}

/*Styles Information About me*/

.information_container {
  background-color: #252525;
  width: 350px;
}

.information {
  height: auto;
  width: 350px;
  padding: 10px;
}

.information_subtitle {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.description_about_me {
  font-size: 18px;
  max-height: 600px;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
}

.skills_icon {
  display: flex;
  justify-content: center;
}

.skills_icon img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0;
}

.skills_names {
  font-size: 16px;
  color: #00ccff;
}

/*Styles Social Media*/

.social_media_brands {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  max-height: 600px;
  overflow-y: auto;
}

.social_media_name {
  font-size: 11px;
  line-height: 10.8;
}

.social_media_brands img {
  width: 50px;
  height: 50px;
  border: none;
}

.social_media_brands li a {
  width: 250px;
  display: block;
  color: #f3f3f3;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  transition: opacity 0.3s ease-in-out;
}

/*Styles Projects*/

.projects_title h2 {
  display: flex;
  justify-content: center;

  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: azure;
  margin-top: 100px;
  margin-bottom: 100px;
}

.projects_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.projects_list img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}

.projects_list img:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
}

.gif_astronaut_mobile {
  display: none;
}

/*Styles of Footer*/

.footer_container {
  display: flex;
  background-image: linear-gradient(to right, #29303d, #808183);
  width: 100vw;
  height: 50px;
  margin-top: 620px;

  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 6px;
  color: aliceblue;
}

/*Responsive*/

/*For screens 4k 2560px*/

@media screen and (min-width: 2560px) {
  .card {
    width: 1000px;
    border: 12px solid #bef;
  }

  .card_perfil {
    font-size: 34px;
  }

  .card_perfil h2 {
    font-size: 30px;
  }

  .card_perfil img {
    width: 40%;
    border-radius: 200px;
    border: 10px solid #bef;
  }

  .tabs {
    height: 140px;
  }

  .tabs img {
    width: 120px;
    height: 120px;
    border: none;
  }

  .tab1 {
    border: 5px solid #414141;
  }

  .tab2 {
    border: 5px solid #414141;
  }

  .information_container {
    width: 900px;
  }

  .information {
    width: 900px;
  }

  .information_subtitle {
    font-size: 40px;
  }

  .description_about_me {
    font-size: 36px;
  }

  .skills_icon img {
    width: 80px;
    height: 80px;
    border: none;
  }

  .skills_names {
    font-size: 34px;
  }

  .social_media_name {
    font-size: 30px;
    line-height: 1;
  }

  .social_media_brands img {
    width: 150px;
    height: 150px;
    border: none;
  }

  /*.social_media_brands li a {
    font-size: 20px;
  }*/

  .projects_title h2 {
    font-size: 36px;
  }

  .projects_list {
    gap: 100px;
  }

  .projects_list img {
    width: 500px;
    height: 500px;
  }

  .footer_container {
    height: 100px;
    font-size: 14px;
  }
}

/*Tablet. For screen up to 800px*/

@media screen and (max-width: 800px) {
  body {
    background-image: none;
  }

  .social_media_name {
    font-size: 10px;
    line-height: 0.8;
  }

  .projects_list img {
    width: 200px;
    height: 200px;
  }

  .gif_astronaut_mobile {
    display: flex;
    justify-content: center;
  }
}

/*Smartphone with screens between 320px to 425px*/

@media (max-width: 425px) {
  .card {
    width: 300px;
  }

  .card_perfil {
    font-size: 10px;
  }

  .card_perfil h2 {
    font-size: 8px;
  }

  .tabs {
    height: 65px;
  }

  .tabs img {
    width: 50px;
    height: 50px;
  }

  .information_container {
    width: 280px;
  }

  .information {
    width: 280px;
  }

  .information_subtitle {
    font-size: 17px;
  }

  .description_about_me {
    font-size: 15px;
  }

  .skills_icon img {
    width: 25px;
    height: 25px;
    border: none;
  }

  .skills_names {
    font-size: 12px;
  }

  .social_media_name {
    font-size: 10px;
  }

  .social_media img {
    width: 40px;
    height: 40px;
  }

  .social_media li a {
    font-size: 20px;
  }

  .projects_title h2 {
    font-size: 16px;
  }

  .projects_list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .gif_astronaut_mobile img {
    width: 320px;
    height: 320px;
  }

  .footer_container {
    font-size: 5px;
  }
}

/*For screens between 1024px to 1440*/
/* BACKUP RESPONSIVE FOR A TEST
@media screen and (max-width: 1440px) {
  .card {
    width: 370px;
    border: 5px solid #bef;
  }

  .card_perfil {
    font-size: 14px;
  }

  .card_perfil h2 {
    font-size: 12px;
  }

  .card_perfil img {
    width: 50%;
    border-radius: 100px;
    border: 4px solid #bef;
  }

  .tabs {
    height: 80px;
  }

  .tabs img {
    width: 60px;
    height: 60px;
    border: none;
  }

  .tab1 {
    border: 3px solid #414141;
  }

  .tab2 {
    border: 3px solid #414141;
  }

  .information_container {
    width: 350px;
  }

  .information {
    width: 350px;
  }

  .information_subtitle {
    font-size: 20px;
  }

  .description_about_me {
    font-size: 18px;
  }

  .skills_icon img {
    width: 40px;
    height: 40px;
    border: none;
  }

  .skills_names {
    font-size: 16px;
  }

  .social_media_name {
    font-size: 11px;
    line-height: 0.8;
  }

  .social_media_brands img {
    width: 50px;
    height: 50px;
    border: none;
  }

  .social_media_brands li a {
    font-size: 20px;
  }

  .projects_title h2 {
    font-size: 20px;
  }

  .projects_list {
    gap: 50px;
  }

  .projects_list img {
    width: 300px;
    height: 300px;
  }

  .footer_container {
    height: 50px;
    font-size: 6px;
  }
}*/
