body::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar {
  background-color: black;
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #bef;
  border-radius: 5px;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

/*Responsive*/

@media (max-width: 425px) {
  body::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
}

/*BACKUP FOR TEST
@media screen and (max-width: 1440px) {
  body::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
}*/
